@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 20;
  margin-right: 10px;
  opacity: 0.6;
}

body
{
background-image:url('https://cloud.githubusercontent.com/assets/5033756/3737389/9366140a-1736-11e4-9298-33e2120b2ffa.JPG');
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
}

p {
  color:White;
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}
