@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding:300;
  margin-right: 10px;
  opacity:0.6;
}

body
{
background-image:url('https://cloud.githubusercontent.com/assets/5033756/3752160/445604fe-1805-11e4-8914-3c767d1a551a.jpg');
background-size: 2056px 1546px;
background-repeat: no-repeat;
background-size: cover;
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

p {
  color:White;
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}

.well {
  padding: 20px;
}
#header {
  color:White;
  font-size: 50px;
}

.navbar {
  padding: 50px;
}
