@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

body
{
background-image:url('https://cloud.githubusercontent.com/assets/5033756/3725371/15ea8b04-1688-11e4-87c4-e83edad58603.JPG');
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
}

p {
  color:White;
  font-size: 40px;
}
